/.idea/.gitignore
/.idea/aws.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/microservices.iml
/.idea/misc.xml
/.idea/modules.xml
/currency-exchange-service/notes.txt
/notes.txt
/.idea/vcs.xml
.idea/
/.idea/
