[submodule "currency-exchange-service"]
	path = currency-exchange-service
	url = ../currency-exchange-service
[submodule "currency-conversion-service"]
	path = currency-conversion-service
	url = ../currency-conversion-service
[submodule "naming-service"]
	path = naming-service
	url = ../naming-service